body {
  background-color: #244;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  color: #fff;
  letter-spacing: 1.5px;
}

img {
  height: 150px;
  width: 150px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typewriter {
  letter-spacing: 0.15rem;
  overflow: hidden;
  margin: 0 auto;
}

#blink {
  border-right: 0.2rem solid rgb(232, 134, 6);
}

.inline {
  display: flex;
}
